<div ng-controller='level0'>
  <div class="row" >
    <h2>Level 0</h2>
    <form class="form" ng-submit="formSubmit()">
      <div class="form-group">
        <label>Actions: </label>
        <select ng-model="action" ng-options="action for action in actions"></select>
      </div>
      <div class="form-group">
        <label>Value1: </label>
        <input type="text" ng-model="value1"></input>
      </div>
      <div class="form-group">
        <label>Value2: </label>
        <input type="text" ng-model="value2"></input>
      </div>
      <input class="btn btn-primary" type="submit" ng-submit="formSubmit()"></input>
    </form>

    <div class="row">
      <h2>Result</h2>
      <h3>{{result}}</h3>
    </div>
  </div>
</div>
