<div ng-controller='level3'>
  <h2>Level 3</h2>
  <div class="row"> 
    <form>
      <div class="form-group">
        <label>Name : </label>
        <input type="text" ng-model="name"></input>
        <label>Age : </label>
        <input type="number" ng-model="age"></input>
        <button class="btn btn-primary" ng-click="create()">Create</button>
      </div>
    </form>
  </div>
  <div class="row">
    <label>Find a User: </label>
    <input type="text" ng-model="findBy" placeholder="Find By Name"></input>
    <button type="btn btn-success" ng-click="filter()">Filter</button>
  </div> 

  <div class="row">
    <h2>Users: </h2>
    <ul ng-repeat="user in users">
      <li>
        {{user.data.name}} : {{user.data.age}}
        <button class="btn btn-primary" ng-click="getUser(user)">Get User</button>
        <button class="btn btn-delete" ng-click="deleteUser(user)">Delete</button> 
      </li>
    </ul>
  </div>
  <div class="row">
    <h2>Result</h2>
    <pre>{{result}}</pre>
  </div>
</div>
