<div ng-controller='level1Create'>
  <form ng-submit='create()'>
    <input type="text" ng-model="name"></input>
    <input type="number" ng-model="age"></input>
    <input type="submit" ng-submit="create"></input>
  </form>
</div>
